<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    检查一个给定的字符串是否有大写的所有符号。如果该字符串是空的或没有任何字母 - 函数应该返回 <b>{% if is_js %}t{% else %}T{% endif %}rue</b>.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}all-upper.png" alt="example" style="max-height: 100px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>一个逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>前提条件：</strong>
    <i>a-z, A-Z, 1-9和空格</i>
</p>
