<!-- Describe task in general -->

<p>
    Vérifier si une chaîne donnée contient tous les symboles en majuscules. Si la chaîne est vide ou ne contient aucune lettre, la fonction doit renvoyer True.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Une <span>chaîne de caractères</span> <span>(string)</span>.
</p>

<p>
   <strong>Sortie:</strong> A {% if is_js %}<span>booléen</span> <span>(boolean)</span>{% else %}<span>booléen</span> <span>(bool)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Condition préalable:</strong>
    <i>a-z, A-Z, 1-9 et espaces</i>
</p>
