<!-- Describe task in general -->

<p>
    Check if a given string has all symbols in upper case. If the string is empty or doesn't have any letter in it - function should return <b>{% if is_js %}t{% else %}T{% endif %}rue</b>.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> A logic value <span translate="no">(bool{% if is_js %}ean{% endif %})</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Precondition:</strong>
    <i>a-z, A-Z, 1-9 and spaces</i>
</p>
