<!-- Describe task in general -->

<p>
    Check if a given string has all symbols in upper case. If the string is empty or doesn't have any letter in it - function should return True.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A <span translate="repeat">string</span>.
</p>

<p>
    <strong>Output:</strong> A {% if is_js %}<span translate="repeat">boolean</span>{% else %}<span translate="repeat">bool</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<p>
    <strong>Precondition:</strong>
    <i>a-z, A-Z, 1-9 and spaces</i>
</p>
